// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#jumbotron-hero {
  background-image: url(asset_path('Event.png'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  height: 500px;
}

#jumbotron-showevent {
  background-image: url(asset_path('event-photo.jpg'));
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

#transparent {
  background: rgba(255, 255, 255, 0.8);
  max-width: 50rem;
}